client_tester/src/edu/memphis/ehands/SquareMatrixValidator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ehands.memphis.edu"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:impl="http://ehands.memphis.edu" xmlns:intf="http://ehands.memphis.edu"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--WSDL created by Apache Axis version: 1.4
    Built on Apr 22, 2006 (06:55:48 PDT)-->
    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="http://ehands.memphis.edu"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="validateMatrix">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" name="matrix"
                                 type="impl:ArrayOf_xsd_double" />
                    </sequence>
                </complexType>
            </element>
            <complexType name="ArrayOf_xsd_double">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:double[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <element name="validateMatrixResponse">
                <complexType>
                    <sequence>
                        <element name="validateMatrixReturn" type="xsd:boolean" />
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>

    <wsdl:message name="validateMatrixResponse">

        <wsdl:part element="impl:validateMatrixResponse" name="parameters" />

    </wsdl:message>

    <wsdl:message name="validateMatrixRequest">

        <wsdl:part element="impl:validateMatrix" name="parameters" />

    </wsdl:message>

    <wsdl:portType name="SquareMatrixValidator">

        <wsdl:operation name="validateMatrix">

            <wsdl:input message="impl:validateMatrixRequest" name="validateMatrixRequest" />

            <wsdl:output message="impl:validateMatrixResponse" name="validateMatrixResponse" />

        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="SquareMatrixValidatorSoapBinding" type="impl:SquareMatrixValidator">

        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="validateMatrix">

            <wsdlsoap:operation soapAction="" />

            <wsdl:input name="validateMatrixRequest">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               use="encoded" />

            </wsdl:input>

            <wsdl:output name="validateMatrixResponse">

                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               use="encoded" />

            </wsdl:output>

        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="SquareMatrixValidatorService">

        <wsdl:port binding="impl:SquareMatrixValidatorSoapBinding" name="SquareMatrixValidator">

            <wsdlsoap:address location="http://localhost:8080/services/SquareMatrixValidator" />

        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
